
table {
border-spacing:0px;
margin-bottom:0px;
border-bottom:0px;
}

td {
margin-bottom:0px;
border-bottom:0px;
}

.navbar{
background-image:url(mid.gif);
}

.left{
background-image:url(left.gif);
}

.right{
background-image:url(right.gif);
}

.text{
font-family:tahoma;
font-size:13px;
margin:5px;
}

#line{
margin-top:0px;
border-top:0px;
color:#cccccc;
}
a:link {
    text-decoration:none;
}

a:hover {
    color:#cc6600;
    cursor:pointer;
}
a:active {
    color:black;
    font-weight:bold;
}

.navbar:active {
    background-image:url(mid-selected.gif);
}
.left:active {
    background-image:url(left-selected.gif);
}
.right:active {
    background-image:url(right-selected.gif);
}

